<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.uiexamples">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.UIExamples">
        <activity
                android:name=".RegistroNotas"
                android:exported="true"/>
        <activity
                android:name=".CreateGrupoForm"
                android:exported="true"/>
        <activity
                android:name=".CrudGrupos"
                android:exported="true"/>
        <activity
                android:name=".CursosCarrera"
                android:exported="true"/>
        <activity
                android:name=".CrudAlumnos"
                android:exported="true"/>
        <activity
                android:name=".EditCarreraForm"
                android:exported="true"/>
        <activity
                android:name=".CreateCarreraForm"
                android:exported="true"/>
        <activity
                android:name=".CrudCarreras"
                android:exported="true"/>
        <activity
                android:name=".EditCursoForm"
                android:exported="true"/>
        <activity
                android:name=".CreateAlumnoForm"
                android:exported="true"/>
        <activity
                android:name=".EditAlumnoForm"
                android:exported="true"/>
        <activity
                android:name=".EditProfesorForm"
                android:exported="true"/>
        <activity
                android:name=".EditCicloForm"
                android:exported="true"/>
        <activity
                android:name=".CreateCicloForm"
                android:exported="true"/>
        <activity
                android:name=".CrudCiclos"
                android:exported="true"/>
        <activity
                android:name=".CrudCursos"
                android:exported="true"/>
        <activity
                android:name=".CrudProfesores"
                android:exported="true"/>
        <activity
                android:name=".CreateCursoForm"
                android:exported="true"/>
        <activity
                android:name=".CreateProfesorForm"
                android:exported="true"/>
        <activity
                android:name=".JobAppEditForm"
                android:exported="true"/>
        <activity
                android:name=".JobAppView"
                android:exported="true"/>
        <activity
                android:name=".CreatePersonForm"
                android:exported="true"/>
        <activity
                android:name=".EditPersonaForm"
                android:exported="true"/>
        <activity android:name=".CrudPersonas"/>
        <activity
                android:name=".MenuExample"
                android:label="@string/title_activity_menu_example"
                android:theme="@style/Theme.UIExamples.NoActionBar"/>
        <activity android:name=".LoginExample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
    </application>

</manifest>